* {
    margin: 0;
    font-family: 'Open Sans', sans-serif
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    width: 150px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;

}

/* header and nav sytles */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}



nav ul {
    text-decoration: none;
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;

}

/* banner style  */


.banner {
    display: flex;
    align-items: center;
    margin: 0 100px;

}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main part  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* section style */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    margin: 30px 0;
}

.section-title {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.section-description {
    color: #757575;
    margin-bottom: 30px;
}

.information {
    display: flex;
    justify-content: space-between;
}

/* my skills  */

.my-skills {
    margin: 50px 0;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-between;

}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px #2725250f;
    border-radius: 10px;
    padding: 30px;
}
.skill-title{
    margin-top: 30px;
margin-bottom: 20px;
}
.skill-description{
    margin-bottom: 30px;
}

/* A summary of My Resume style  */